@font-face {
  font-family: 'montserrat';
  src: url('./assets/fonts/Montserrat/static/Montserrat-Light.ttf');
}

@font-face {
  font-family: 'montserrat-bold';
  src: url('./assets/fonts/Montserrat/static/Montserrat-Bold.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'montserrat';
}