.container-credentials {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-width: 350px;
    width: 40%;
    max-width: 450px;
    gap: 30px;
}

#logo {
    width: 110px;
}

.container-credentials .data {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.container-credentials img {
    width: 25px;
}

.username,
.password {
    display: flex;
    align-items: center;
    gap: 20px;

    width: 100%;
    border: 2px solid white;
    border-radius: 5px;
    padding: 15px;
}

.username input,
.password input {
    width: 100%;
    color: white;
    outline: none;
    border: none;
    background-color: transparent !important;
    font-weight: bold;
    font-size: 15px;
}

.username input::placeholder,
.password input::placeholder {
    color: rgb(255, 255, 255);
}

.container-credentials .actions button {
    font-family: 'montserrat-bold';
    width: 100%;
    height: 55.71px;
    border-radius: 5px;
    border: none;
    color: #2148C0;
    background-color: white;
    cursor: pointer;
    font-size: 18px;
    transition: 0.3s;
}

.container-credentials .actions {
    text-align: center;
    width: 100%;
}

.container-credentials .actions p, span {
    font-family: 'montserrat-bold';
}

.container-credentials .actions p {
    text-align: center;
    width: 100%;
    color: white;
    margin-top: 12px;
    font-size: 19px;
}

.container-credentials .actions span {
    text-decoration: underline;
    cursor: pointer;
}

.container-credentials button:hover {
    transform: scale(1.01);
    box-shadow: rgba(33, 33, 33, 0.46) 0px 6px 3px 0px;
}

.container-credentials button:active {
    transform: scale(1);
}